.ant-notification-notice.wly-notification {
	background-color: @notification[background-color];
	.ant-notification-notice-message {
		color: @notification[color];
	}
	.ant-notification-notice-close {
		color: @notification[color];
	}
}
.wly-notification.ant-notification-notice-error {
	.ant-notification-notice-message {
		color: @notification-error[color];
	}
	.ant-notification-notice-icon {
		color: @notification-error[color];
	}
}
.wly-notification.ant-notification-notice-success {
	.ant-notification-notice-message {
		color: @notification-success[color];
	}
	.ant-notification-notice-icon {
		color: @notification-success[color];
	}
}
.wly-notification.ant-notification-notice-warning {
	.ant-notification-notice-message {
		color: @notification-warning[color];
	}
	.ant-notification-notice-icon {
		color: @notification-warning[color];
	}
}
.wly-notification.ant-notification-notice-info {
	.ant-notification-notice-message {
		color: @notification-info[color];
	}
	.ant-notification-notice-icon {
		color: @notification-info[color];
	}
}
