.ant-input.wly-input {
	background-color: var(--input-background-color);
	color: var(--input-color);
	border: 1px solid var(--input-border);
	&:focus,
	.ant-input-focused {
		border-color: var(--input-focus-border-color);
		box-shadow: 0 0 0 2px var(--input-focus-box-shadow);
	}
	&:hover {
		background-color: var(--input-hover-background-color);
	}
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		height: auto;
		-webkit-appearance: none;
	}
}
